@model IEnumerable<WebApplication3.Models.Team>

@{
    ViewBag.Title = "Index";
}


<section class="pt-4 pb-5 section-top">
    <br>
</section>
<main id="main">

    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
        <div class="container">
            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
                        </td>
                    </tr>
                }

            </table>
            </div>
        </section>

</main>