
@{
    ViewBag.Title = "Projects";
}


<section class="pt-4 pb-5 section-top">
    <br>
</section>
<main id="main">

    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <h2>@ViewBag.Title</h2>
                <!-- <p>Velit consequatur consequatur inventore iste fugit unde omnis eum aut.</p> -->
            </div>

            <div class="mb-3">
                <a href="/Project/Create" class="btn btn-primary"><i class="fa fa-plus"></i>Add project</a>
            </div>
            <div class="row pb-3">

                @foreach (var project in ViewBag.Projects)
                {
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-3">
                            <div class="card-body">
                                <p class="card-price text-center">@project.Name</p>
                                <hr>
                                <h5 class="card-title text-muted text-uppercase text-center">
                                    @project.Description
                                </h5>

                                <ul class="fa-ul">
                                    <li>
                                        <span class="fa-li"><i class="fa fa-key"></i></span>owner:
                                        <a href="">
                                            <!--Modified  project.Organizer.Name -->
                                            @project.Organizer.Name
                                        </a>
                                    </li>


                                </ul>
                                <hr>
                                <div class="text-center">
                                    <!--<button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal" data-ticket-type="standard-access">
                                        View details
                                    </button>-->
                                    <br />
                                    <form method="post" action="/Project/Delete/@project.ProjectId">
                                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                                        <button type="submit" class="btn btn-danger" style="background:#dc3545">Delete</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>


</main>